.playerCard {
    position: relative;
    height: 220px;
    width: 200px;
    display: flex;
    border: 1px solid grey;
    justify-content: flex-end;
}

.judgeIcons {
    position: absolute;
    bottom: -12px;
    right: 8px;
    background: white;
    display: flex;
}

.playerCardInside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nationality {
    position: absolute;
    top: 4px;
    left: 4px;
}

.waiting {
    align-self: center;
    justify-self: center;
}
.selected {
    border-color: red;
}
.playerName {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
}
.playerEquips {
    height: 100px;
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 100%;
    bottom: 0;
    padding: 0 8px;
}

.playerEquip {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    left: 0;
    padding: 0 8px;
}

.handCardsNumberBg {
    position: absolute;
    left: 9px;
    width: 16px;
    height: 24px;
    border: 1px solid grey;
    text-align: center;
    background: white;
    z-index: 2;
    transform: rotate(10deg);
}
.handCardsNumberBg:before {
    content: '';
    width: 16px;
    height: 24px;
    border: 1px solid grey;
    display: block;
    position: absolute;
    box-sizing: border-box;
    transform: rotate(-30deg);
    background: white;
    top: 0px;
    left: -4px;
}

.handCardsNumber {
    z-index: 100;
    position: absolute;
    transform: rotate(-10deg);
    left: 0;
}

.judgeNames {
    margin: 0 2px;
    margin-right: 8px;
}

.weapon {
    top: 0;
}
.armor {
    top: 25%;
}
.defenseRide {
    top: 50%;
}
.offenseRide {
    top: 75%;
}
.precious {
    /* TBC */
}
