@value gridLine from '../../../../base/metrics/metrics.css';
@value halfGridLine from '../../../../base/metrics/metrics.css';
@value SanguoshaFont from '../../../../base/metrics/metrics.css';

@value shuColor from '../../../../base/metrics/metrics.css';

.playerCard {
    position: relative;
    height: 200px;
    width: 180px;
    display: flex;
    border: 1px solid grey;
    justify-content: space-between;
    transition: box-shadow 0.15s;
}

.judgeIcons {
    position: absolute;
    bottom: -10px;
    right: gridLine;
    display: flex;
}

.playerSeats {
    position: absolute;
    bottom: calc(-3 * gridLine);
    margin: 0;
    color: white;
    text-shadow: 0px 0px 3px rgba(50, 50, 50, 0.87), 0px 0px 5px rgba(50, 50, 50, 0.87),
        0px 0px 7px rgba(50, 50, 50, 0.87);
    z-index: -1;
    width: 100%;
    font-family: SanguoshaFont;
    font-size: 24px;
    text-align: center;
}

.playerCharacter {
    position: absolute;
}

.playerHp {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 24px;
    justify-self: flex-end;
}
.playerRole {
    right: 0;
    top: 0;
}

.waiting {
    align-self: center;
    flex: auto;
    text-align: center;
}
.selected {
    box-shadow: 0px 0px 5px 2px red;
}
.highlighted {
    box-shadow: 0px 0px 5px 2px shuColor;
}
.playerName {
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    text-shadow: 0px 0px 2px rgb(255, 255, 255), 0px 0px 2px rgb(255, 255, 255), 0px 0px 2px rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.2);
    font-weight: 550;
    font-size: 14px;
    height: calc(gridLine * 3);
    line-height: calc(gridLine * 3);
    color: rgb(130, 54, 0);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 gridLine;
}
.playerName.aligned {
    padding: 0 calc(gridLine * 4);
}
.playerEquips {
    height: calc(11 * gridLine);
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    width: 100%;
    bottom: 0;
    position: relative;
    left: 0;
}

.playerEquip {
    height: 25%;
    width: 100%;
    display: flex;
    align-items: center;
    left: 0;
    position: absolute;
    padding: 0 gridLine;
}

.handCardsNumberBg {
    position: absolute;
    left: gridLine;
    width: calc(gridLine * 1.5);
    height: calc(gridLine * 2);
    border: 1px solid grey;
    text-align: center;
    background: white;
    z-index: 2;
    transform: rotate(10deg);
    align-self: center;
}
.handCardsNumberBg:before {
    content: '';
    width: calc(gridLine * 1.5);
    height: calc(gridLine * 2);
    border: 1px solid grey;
    display: block;
    position: absolute;
    box-sizing: border-box;
    transform: rotate(-30deg);
    background: white;
    top: 0px;
    left: -4px;
}

.handCardsNumber {
    z-index: 100;
    position: absolute;
    transform: rotate(-10deg);
    left: 0;
    font-size: 13px;
    font-weight: 550;
}

.playerPhaseBadge {
    position: absolute;
    bottom: -12px;
}

.weapon {
    top: 0;
}
.armor {
    top: 25%;
}
.defenseRide {
    top: 50%;
}
.offenseRide {
    top: 75%;
}
.precious {
    /* TBC */
}
