.clientCard {
    height: 160px;
    width: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid grey;
}

.cardSuit {
    font-size: 28px;
    margin-right: 4px;
    /* animation: glow 1s ease-in-out infinite alternate; */
}

.redCard {
    color: red;
}

.cornerTag {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    align-items: center;
}

.selected {
    border-color: red;
}

@keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073,
            0 0 60px #e60073, 0 0 70px #e60073;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6,
            0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
