.magatama {
    display: flex;
    width: 100%;
    border-radius: 50%;
}

.regular {
    height: 18px;
    width: 18px;
    margin: 4px 2px;
}
.small {
    height: 16px;
    width: 16px;
    margin: 2px;
}
