@value gridLine from '../../ui/metrics/metrics.css';

.lobby {
    display: flex;
    width: 100vw;
    height: 100vh;
    overflow-x: auto;
    justify-content: center;
}

.logo {
    margin-bottom: calc(gridLine * 4);
    max-width: calc(gridLine * 32);
    align-self: center;
}

.board {
    display: flex;
    width: 50%;
    padding: calc(gridLine * 2);
    flex-direction: column;
}

.roomList {
    list-style: none;
    padding: 0;
}

.roomInfo {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}
.roomInfo:last-of-type {
    border-bottom: 0;
}

.gameInfo {
    display: flex;
    padding: calc(gridLine * 4);
}

.actionPlace {
    display: flex;
    padding: calc(gridLine * 4);
    border-top: 1px solid black;
}
.functionBoard {
    padding: calc(gridLine * 2);
    display: flex;
    justify-content: flex-end;
}

.roomActions {
    display: flex;
    justify-content: flex-end;
}

.chatInfo {
}
