@value gridLine from '../../ui/metrics/metrics.css';

.lobby {
    display: flex;
    width: 100%;
    justify-content: center;
    position: relative;
    animation: resize 2.5s 1;
    height: 100vh;
}

.background {
    position: fixed;
    align-self: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1;
}

.logo {
    margin-top: calc(gridLine * -8);
    max-width: calc(gridLine * 28);
    align-self: center;
    z-index: 2;
}

.board {
    display: flex;
    width: 50%;
    padding: calc(gridLine * 2);
    flex-direction: column;
    justify-content: center;
}

.illustration {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-self: center;
    top: calc(100% + calc(gridLine * 4));
    right: 95%;
    z-index: 0;
    animation: leftSideIn 2.5s 1;
}

.gameLog {
    position: absolute;
    align-self: center;
    top: calc(100% - calc(gridLine * 5));
    left: calc(100% - gridLine);
    z-index: 0;
    width: calc(gridLine * 40);
    animation: rightSideIn 2.5s 1;
}
.gameLogContainer {
    position: relative;
    padding: calc(gridLine * 2);
    height: calc(gridLine * 70);
    width: calc(8px * 37);
}
.gameLogContainer p,
.gameLogContainer ul {
    margin: gridLine 0;
}
.gameLogContainer ul {
    padding-inline-start: calc(gridLine * 3);
}
.gameLogBoardImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
}
.gameLogText {
    display: flex;
    flex-direction: column;
    margin: 0;
    color: white;
    height: 100%;
    overflow: auto;
    width: 100%;
    overflow: auto;
    text-shadow: 0 0 1px black, 0 0 1px black, 0 0 2px black, 0 0 2px black;
    padding: calc(gridLine * 2);
}

.button {
    margin-left: 4px;
    align-self: center;
    animation: fadeIn 2.5s 1;
}

.gameModeIcon {
    max-height: calc(gridLine * 3);
    max-width: calc(gridLine * 3);
}

.roomList {
    list-style: none;
    padding: 0;
    min-height: calc(gridLine * 60);
    z-index: 2;
    color: white;
    border-radius: 4px;
    padding: 4px;
    position: relative;
    padding: calc(gridLine * 5) calc(gridLine * 6);
    padding-right: calc(gridLine * 12);
    position: relative;
    animation: topSideIn 2.5s 1;
}
.roomListBackground {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.85;
}

.roomInfo {
    display: flex;
    padding: 0 calc(gridLine / 2);
    align-items: center;
    box-shadow: 0 0 0 0, inset 0 0 0 0;
    transition: box-shadow 0.2s;
}
.roomList:not(.unavailable) .roomInfo:hover {
    box-shadow: 0 0 5px 1px rgb(247 176 69), inset 0 0 5px 0 rgb(247 176 69);
}
.roomInfo:last-of-type {
    border-bottom: 0;
}

.roomName {
    flex: auto;
    text-overflow: ellipsis;
    overflow: hidden;
    max-width: 60%;
    white-space: nowrap;
}

.roomLocker > img {
    height: calc(gridLine * 2);
}

.roomLocker {
    width: calc(gridLine * 6);
    text-align: center;
}

.roomMode {
    width: calc(gridLine * 6);
    display: flex;
    justify-content: center;
    position: relative;
}

.roomPlayers {
    width: calc(gridLine * 8);
    text-align: center;
}

.roomStatus {
    width: calc(gridLine * 8);
    text-align: center;
}

.gameInfo {
    display: flex;
    padding: calc(gridLine * 4);
}

.actionPlace {
    display: flex;
    padding: calc(gridLine * 4);
    border-top: 1px solid black;
}
.functionBoard {
    position: relative;
    margin: calc(gridLine * 4) 0 0;
    padding: calc(gridLine * 2);
    display: flex;
    justify-content: flex-end;
}

.roomActions {
    display: flex;
    justify-content: flex-end;
}

.chatInfo {
}

.systemButtons {
    margin-top: calc(gridLine * 4);
    display: flex;
    z-index: 2;
    justify-content: flex-end;
    animation: bottomSideIn 2.5s 1;
}

.systemButton {
    background: none;
    border: none;
    margin: 0 calc(gridLine * 2);
    outline: 0;
    cursor: pointer;
    position: relative;
}
.systemButton:hover {
    filter: brightness(1.3);
}

.systemButton:active {
    filter: brightness(0.8);
}

.lobbyButtonIcon {
    max-height: calc(gridLine * 10);
}

.systemButton:disabled {
    filter: brightness(0.3);
    cursor: inherit;
}

.createRoomButton {
    position: absolute;
    right: calc(gridLine * 6);
    top: calc(gridLine * 3.5);
}

.version {
    position: absolute;
    z-index: 9;
    font-size: 14px;
    right: gridLine;
    bottom: gridLine;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
}

@keyframes leftSideIn {
    0% {
        right: 155%;
    }
    20% {
        right: 155%;
    }
    100% {
        right: 95%;
    }
}

@keyframes rightSideIn {
    0% {
        left: 155%;
    }
    20% {
        left: 155%;
    }
    100% {
        left: calc(100% - gridLine);
    }
}

@keyframes topSideIn {
    0% {
        transform: translateY(-75vh);
    }
    20% {
        transform: translateY(-75vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes bottomSideIn {
    0% {
        transform: translateY(22vh);
    }
    20% {
        transform: translateY(22vh);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes resize {
    0% {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 1);
    }
    20% {
        overflow: hidden;
    }
    90% {
        overflow: hidden;
        background-color: rgba(0, 0, 0, 0);
    }
    100% {
        overflow: inherit;
        background-color: inherit;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
