.selectorDialog {
    position: absolute;
    align-self: center;
    background: lightgrey;
    border: 1px solid grey;
    padding: 16px;
    z-index: 999;
    font-family: LiSu, STLiti, 'Microsoft YaHei', 微软雅黑, 'MicrosoftJhengHei', 华文细黑, STHeiti, MingLiu;
    font-size: 24px;
}

.selectorTitle {
    margin-bottom: 16px;
    margin-top: 0;
}

.characterSelector {
    display: flex;
    flex-wrap: wrap;
}

.characterSelectorItem {
    flex: 1 1 20%;
    margin: 6px;
}

.room {
    display: flex;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.roomBoard {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
}

.mainBoard {
    min-width: 1200px;
    display: flex;
    align-items: stretch;
    flex: auto;
}

.sideBoard {
    flex-direction: column;
    justify-content: stretch;
    display: flex;
    width: 300px;
    font-size: 13px;
}

.incomingConversation {
    position: fixed;
    bottom: 190px;
    max-width: 768px;
    justify-self: center;
    display: flex;
    padding: 4px;
}

.cardLine {
    margin: 16px 8px;
    display: flex;
    justify-content: space-between;
}

.selectorCard {
    height: 160px;
    width: 120px;
    margin: 0px 8px;
}
