.room {
    display: flex;
    align-items: stretch;
    height: 100vh;
    width: 100vw;
    justify-content: center;
}

.roomBoard {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
}

.mainBoard {
    display: flex;
    align-items: stretch;
    height: calc(100% - 263px);
}

.sideBoard {
    background: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    justify-content: stretch;
    display: flex;
    width: 300px;
    font-size: 12px;
}

.incomingConversation {
    position: fixed;
    bottom: 228px;
    max-width: 768px;
    justify-self: center;
    display: flex;
    padding: 4px;
    width: 100%;
    z-index: 1000;
}

.displayedCards {
    display: flex;
    position: relative;
    width: 100%;
    max-width: 600px;
    justify-content: center;
    align-items: center;
    height: 160px;
}

.displayedCard {
    margin: 2px;
    position: absolute;
}
.displayedCard.focused {
    z-index: 3;
}

.roomBanner {
    flex: auto;
}

@media (max-width: 1199px) {
    .sideBoard {
        display: none;
    }
}
