@value gridLine from '../metrics/metrics.css';

.checkbox {
    display: flex;
}

.input {
    margin-right: gridLine;
}

.label {
    color: white;
    font-size: 14px;
}

.checkboxGroup {
    display: flex;
    flex-wrap: wrap;
}

.regularCheckBox {
    width: 25%;
}
.squashCheckBox {
    width: 20%;
}
.smashCheckBox {
    width: 16.67%;
}

.checkboxGroupHead {
    color: white;
    font-size: 14px;
    font-weight: 600;
    margin-top: calc(gridLine * 2);
    margin-bottom: calc(gridLine * 2);
    width: 100%;
    text-align: left;
}
