@value gridLine from '../metrics/metrics.css';

.inputContainer {
    display: flex;
}

.suffix {
    color: white;
    font-size: 14px;
    padding-left: gridLine;
}

.input {
    border-radius: calc(gridLine / 2);
    min-height: calc(gridLine * 4);
    padding: calc(gridLine / 2);
    font-size: 14px;
    color: #dcad00;
    outline: none;
}

.input::placeholder {
    color: lightgray;
    font-size: 14px;
}
