@value SanguoshaFont from '../../../../ui/metrics/metrics.css';

.conversation {
    flex: auto;
    display: flex;
    flex-direction: column;
}

.conversationText {
    text-align: center;
    font-family: SanguoshaFont;
    text-shadow: 0px 0px 4px rgb(0, 0, 0), 0px 0px 4px rgb(0, 0, 0), 0px 0px 4px rgb(0, 0, 0);
    color: #eeeeee;
    font-weight: 550;
}

.actions {
    display: flex;
    justify-content: space-around;
}

.actionButton {
    background-color: transparent;
}
