@value SanguoshaFont from '../../../../base/metrics/metrics.css';

.characterCard {
    min-width: 160px;
    height: 200px;
    border: 1px solid grey;
    font-family: SanguoshaFont;
    font-size: 24px;
}
