body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'MicrosoftYaHei';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    display: flex;
    width: 100%;
}

body * {
    box-sizing: border-box;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

@font-face {
    font-family: LiSu;
    src: url('./shared/fonts/SIMLI.TTF') format('truetype');
}
