body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'MicrosoftYaHei';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    display: flex;
    width: 100%;
}

body * {
    box-sizing: border-box;
}

.textShadow {
    text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 4px white, 0px 0px 4px white;
}

img {
    pointer-events: none;
}

#root {
    width: 100%;
}
