body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'MicrosoftYaHei';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    display: flex;
    width: 100%;
}

body * {
    box-sizing: border-box;
}

.textShadow {
    text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 4px white, 0px 0px 4px white;
}

img {
    pointer-events: none;
}

#root {
    width: 100%;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgb(255 255 255 / 30%);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgb(216 105 0 / 30%);
    border-radius: 8px;
    box-shadow: inset 0 0 6px rgb(255 151 62 / 30%);
}
