@value dyingColor from './magatama/magatama.module.css';
@value dangerColor from './magatama/magatama.module.css';
@value healthyColor from './magatama/magatama.module.css';

.textHpLabel {
    display: flex;
    flex-direction: column;
}

.textHp {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 3px black, 0 0 3px black, 0 0 4px white, 0 0 4px white, 0 0 4px white,
        0 0 4px white;
}

.dying {
    color: dyingColor;
}
.danger {
    color: dangerColor;
}
.healthy {
    color: healthyColor;
}
