@value wuColor from '../metrics/metrics.css';
@value weiColor from '../metrics/metrics.css';
@value shuColor from '../metrics/metrics.css';
@value qunColor from '../metrics/metrics.css';
@value godColor from '../metrics/metrics.css';

.textHpLabel {
    display: flex;
    flex-direction: column;
}

.textHp {
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0 0 2px black, 0 0 2px black, 0 0 3px black, 0 0 3px black, 0 0 4px white, 0 0 4px white, 0 0 4px white,
        0 0 4px white;
}

.wei {
    color: weiColor;
}
.shu {
    color: shuColor;
}
.wu {
    color: wuColor;
}
.qun {
    color: qunColor;
}
.god {
    color: godColor;
}
.lord {
    color: godColor;
}
