@value gridLine from '../metrics/metrics.css';

.tooltip {
    position: absolute;
    padding: calc(gridLine * 2);
    z-index: 99;
    width: calc(gridLine * 32);
    background: rgba(0, 0, 0, 0.7);
    color: #ddd;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    font-size: 14px;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.left {
    left: 0;
}

.right {
    right: 0;
}
