.delayedTrickIcon {
    transform: rotate(45deg);
    border: 1px solid grey;
    width: 20px;
    height: 20px;
    font-size: 14px;
    font-weight: 550;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
}

.cardInitialWord {
    transform: rotate(-45deg);
}
