.playingBar {
    border-radius: 4px;
    border: 1px solid #8c510e;
    height: 12px;
    opacity: 0.9;
}

.innerBar {
    display: block;
    width: 0;
    background-image: linear-gradient(to left bottom, #e10000, #e41a17, #e72a27, #e93735, #eb4242);
    border-radius: 4px;
    animation: processing;
    height: 100%;
}

@keyframes processing {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}
