.clientCard {
    position: relative;
    transition: all 0.15s;
    background: white;
    z-index: 2;
}

.innerCard {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cardImage {
    height: 100%;
    width: 100%;
}

.cardSuit {
    font-size: 28px;
    line-height: 20px;
    text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 4px white, 0px 0px 4px white;
}
.cardDescription {
    bottom: 100%;
}

.flatCard .cardSuit {
    font-size: 18px;
    text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 4px white, 0px 0px 4px white;
}

.cardNumber {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, 'MicrosoftYaHei';
    font-weight: 700;
    text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 4px white, 0px 0px 4px white;
    color: black;
}
.redCardNumber,
.redCard {
    color: red;
}
.blackCard {
    color: black;
}

.cornerTag {
    top: 4px;
    left: 4px;
    display: flex;
    align-items: center;
    position: absolute;
    flex-direction: column;
}

.cardTag {
    position: absolute;
    justify-content: center;
    bottom: 4px;
    font-size: 12px;
    font-family: -apple-system, BlinkMacSystemFont, 'MicrosoftYaHei';
    text-shadow: 0px 0px 2px white, 0px 0px 2px white, 0px 0px 4px white, 0px 0px 4px white;
    display: block;
    width: 100%;
    text-align: center;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.53) 41%, rgba(0, 0, 0, 1) 100%);
    font-weight: 600;
}

.disabled {
    filter: brightness(0.5);
}

.clientCard.selected {
    margin-top: -16px;
    box-shadow: 0px 0px 5px 2px rgba(255,255,255,1);
}

.flatCard {
    display: flex;
    justify-content: flex-end;
}
.equipName {
    justify-self: flex-start;
    flex: auto;
    font-size: 14px;
}
.flatDemoCard {
    display: flex;
    justify-content: center;
    min-width: 120px;
    align-items: center;
    border: 1px solid grey;
    background: white;
    position: relative;
    cursor: pointer;
}
.flatDemoCard:hover {
    filter: brightness(1.3);
}
.flatCardName {
    font-size: 14px;
}
.flatCardImage {
    height: 32px;
}
.innterFlatCardImage {
    position: absolute;
    width: 100%;
}
.flatCardNumber {
    position: absolute;
    width: 100%;
    z-index: 2;
    display: flex;
    align-items: center;
    padding: 0 4px;
}
.emptyCard {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.cardSlot {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    margin: 2px;
    font-size: 14px;
}
.equipImage {
    z-index: -1;
    width: 100%;
}
.cardSpecification {
    position: absolute;
    right: 4px;
}
.flatEquipNumber {
    font-size: 14px;
}
.cardDescription {
    z-index: 2;
}
