@value gridLine from '../../../../base/metrics/metrics.css';

.usernameDialog {
    padding: calc(gridLine * 3);
    position: fixed;
    border: 1px solid grey;
    align-self: center;
    background: white;
}

.usernameForm {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.inputField {
    margin-bottom: gridLine;
    padding: gridLine 0;
    display: flex;
    flex-direction: column;
}

.inputLabelText {
    margin-bottom: gridLine;
}

.input {
    border: 0;
    border-bottom: 1px solid grey;
    height: calc(gridLine * 3);
}

.submitSection {
    margin-top: calc(gridLine * 2);
    display: flex;
    justify-content: center;
}
