.createRoomButton {
    background: none;
    border: none;
    cursor: pointer;
    outline: 0;
}

.buttonImage {
    width: 32px;
}

.createRoomButton:disabled {
    cursor: not-allowed;
}

.createRoomButton:disabled .buttonImage {
    filter: grayscale(1);
}

.createRoomButton:enabled:hover .buttonImage {
    filter: brightness(1.3);
}

.createRoomButton:enabled:active .buttonImage {
    filter: brightness(0.7);
}
