.gameDialog {
    border: 1px solid grey;
    border-radius: 4px;
    flex: auto;
    display: flex;
    flex-direction: column;
    padding: 8px;
    height: calc(100vh - 345px);
}

.dialogs {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    height: calc(100% - 32px);
}

.gameLogDialog {
    overflow: auto;
    flex: auto;
    padding: 4px 0;
    display: flex;
    flex-direction: column;
}

.gameDialog::-webkit-scrollbar,
.messageDialog::-webkit-scrollbar,
.gameLogDialog::-webkit-scrollbar {
    display: none;
}
.messageDialog {
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    overflow: auto;
}
.inputLabel {
    width: 100%;
    display: flex;
    align-items: center;
}
.chatInput {
    flex: auto;
    background: transparent;
    border: 1px solid grey;
    margin-right: 4px;
}
.sendButton {
    height: 100%;
}
.messageLine {
    margin: 0;
    margin-bottom: 4px;
    color: #fbd000;
    line-height: 16px;
}
.dragBorder {
    height: 1px;
    border-top: 1px dashed grey;
    cursor: row-resize;
    position: absolute;
    left: 0;
    width: calc(100% - 16px);
    margin-left: 8px;
}
.dragBorder::before {
    position: absolute;
    content: '';
    height: 8px;
    width: 100%;
    top: -9px;
}
.dragBorder::after {
    position: absolute;
    content: '';
    height: 8px;
    width: 100%;
    bottom: -9px;
}
