.gameDialog {
    border: 1px solid grey;
    flex: auto;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: calc(100vh - 270px);
    padding: 4px;
}

.messageLine {
    margin: 4px 0;
    color: #fbd000;
}
