@value textWhite from '../../../../ui/metrics/metrics.css';
@value textBlack from '../../../../ui/metrics/metrics.css';

.mark {
    height: 28px;
    width: 28px;
    position: relative;
}
.mark img {
    width: 100%;
}

.markAmount {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 10px;
    color: textWhite;
    text-shadow: 0 0 2px textBlack, 0 0 2px textBlack, 0 0 2px textBlack, 0 0 2px textBlack, 0 0 2px textBlack,
        0 0 2px textBlack;
}

.tooltip {
    width: 60px;
    min-width: initial;
}
