@value SanguoshaFont from '../metrics/metrics.css';
@value gridLine from '../metrics/metrics.css';

.characterCard {
    min-width: calc(gridLine * 20);
    height: calc(gridLine * 25);
    font-family: SanguoshaFont;
    font-size: calc(gridLine * 3);
    position: relative;
}
.characterCard.small {
    min-width: calc(gridLine * 15);
    height: calc(gridLine * 18.75);
}

.selected {
    filter: brightness(0.5);
}

.characterImage {
    height: 100%;
    position: absolute;
    top: 0;
    z-index: -2;
}

.characterImage.left {
    left: calc(gridLine * -12.5);
    transform: scale(0.9);
}
.characterImage.right {
    left: calc(gridLine * 12.5);
    transform: scale(0.9);
}

.characterHp {
    bottom: 0px;
    right: 0;
    color: white;
    font-size: calc(gridLine * 2);
    font-weight: 700;
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
}

.characterHp.small {
    max-width: calc(gridLine * 10);
    flex-wrap: wrap;
}

.characterHp > * {
    margin-left: -2px;
}

.characterTag,
.characterHp {
    position: absolute;
    z-index: 2;
}
.characterCard.characterSkinArea {
    width: calc(gridLine * 45);
}

.characterSpec {
    display: flex;
    flex-direction: column;
    margin-top: calc(gridLine * 3);
}

.skill {
    margin-bottom: calc(gridLine * 2);
    display: flex;
    font-family: FZLiBianFont;
}

.skillName {
    position: relative;
    bottom: calc(gridLine / 2);
    align-self: flex-start;
    flex-shrink: 0;
}

.deathButton,
.skillName {
    font-weight: 600;
    color: rgb(255, 174, 0);
    font-size: 16px;
    margin-right: calc(gridLine * 2);
    padding: calc(gridLine / 2);
    border-radius: calc(gridLine / 2);
    border: 1px solid rgb(255, 174, 0);
    cursor: pointer;
}

.deathButton {
    align-self: center;
    margin-bottom: gridLine;
    font-family: FZLiBianFont;
}

.deathButton:hover,
.skillName:hover {
    background-color: rgb(255, 174, 0);
    color: black;
}

.skillDescription {
    font-size: calc(gridLine * 2);
    line-height: calc(gridLine * 3);
}
