.playerCard {
    position: relative;
    height: 220px;
    width: 220px;
    border: 1px solid grey;
}

.playerCardInside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nationality {
    position: absolute;
    top: 4px;
    left: 4px;
}

.selected {
    border-color: red;
}

.playerSkills {
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.playerSkill {
    min-width: 50%;
    background: transparent;
    box-shadow: transparent;
    flex: auto;
}
