@value gridLine from '../../../../ui/metrics/metrics.css';

.playerCard {
    position: relative;
    height: 230px;
    width: 170px;
    align-items: flex-end;
    display: flex;
}

.playerRoleCard {
    position: absolute;
    z-index: -1;
    flex: auto;
    align-self: center;
}

.dead {
    filter: grayscale(100%);
}

.playerName {
    flex: auto;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: calc(gridLine * 2);
    text-shadow: 0px 0px 2px rgb(255, 255, 255), 0px 0px 2px rgb(255, 255, 255), 0px 0px 2px rgb(255, 255, 255);
    font-weight: 550;
    font-size: 14px;
    height: calc(gridLine * 3);
    line-height: calc(gridLine * 3);
    color: rgb(130, 54, 0);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 gridLine;
    align-self: flex-start;
}

.playerImage {
    flex: auto;
    position: absolute;
    width: calc(100% + 40px);
    margin-left: -20px;
    height: 100%;
    z-index: -2;
}

.playCharacterName {
    position: absolute;
    top: 0;
    left: calc(-9 * gridLine);
}

.playerHp {
    align-self: flex-end;
}

.playerRole {
    position: absolute;
    top: 0;
    right: 0;
}

.playerCard.selected {
    border-color: red;
}

.playerSkills {
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    width: 100%;
}

.userSideEffectSkillList {
    position: absolute;
    top: calc(gridLine * 5);
    left: calc(gridLine * -7);
    display: flex;
    flex-direction: column;
    margin-bottom: gridLine;
}

.playerSkill {
    min-width: 50%;
    background: white;
    box-shadow: none;
    flex: auto;
}

.skillInfo {
    display: flex;
    flex-direction: column;
}
.skillItem {
    display: flex;
    margin-bottom: calc(gridLine * 2);
}
.skillName {
    flex: auto;
    margin-right: gridLine;
    min-width: calc(gridLine * 4);
}

.status {
    align-self: center;
    flex: auto;
    text-align: center;
    position: absolute;
    width: 100%;
}

.playerTags {
    position: absolute;
    left: gridLine;
    top: calc(gridLine * 2);
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.skillTags,
.outsideArea {
    display: flex;
}

.skillTags {
    margin-bottom: 4px;
}

.skillTag {
    background-color: grey;
    margin: 0px 4px;
}
.clickableSkillTag {
    cursor: pointer;
}
