@value gridLine from '../../../../base/metrics/metrics.css';

.playerCard {
    position: relative;
    height: 200px;
    width: 200px;
    border: 1px solid grey;
    align-items: flex-end;
    display: flex;
}

.playerName {
    flex: auto;
    position: absolute;
    width: 100%;
    text-align: center;
    margin: 0;
    text-shadow: 0px 0px 2px rgb(255, 255, 255), 0px 0px 2px rgb(255, 255, 255), 0px 0px 2px rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.2);
    font-weight: 550;
    font-size: 14px;
    height: calc(gridLine * 3);
    line-height: calc(gridLine * 3);
    color: rgb(130, 54, 0);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 8px;
    align-self: flex-start;
}

.playCharacterName {
    position: absolute;
    top: 0;
    left: calc(-9 * gridLine);
}

.playerHp {
    align-self: flex-end;
}

.playerRole {
    position: absolute;
    top: 0;
    right: 0;
}

.selected {
    border-color: red;
}

.playerSkills {
    display: flex;
    flex-wrap: wrap;
    bottom: 0;
    width: 100%;
}

.playerSkill {
    min-width: 50%;
    background: transparent;
    box-shadow: transparent;
    flex: auto;
}
