@value gridLine from '../../../../ui/metrics/metrics.css';

.playerCard {
    position: relative;
    height: 230px;
    width: 170px;
    align-items: flex-end;
    display: flex;
}

.playerRoleCard {
    position: absolute;
    z-index: -1;
    flex: auto;
    align-self: center;
}

.dead {
    filter: grayscale(100%);
}

.playerName {
    flex: auto;
    position: absolute;
    width: 100%;
    text-align: center;
    margin-top: calc(gridLine * 2);
    text-shadow: 0px 0px 2px rgb(255, 255, 255), 0px 0px 2px rgb(255, 255, 255), 0px 0px 2px rgb(255, 255, 255);
    font-weight: 550;
    font-size: 14px;
    height: calc(gridLine * 3);
    line-height: calc(gridLine * 3);
    color: rgb(130, 54, 0);
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 gridLine;
    align-self: flex-start;
}

.highlightBorder {
    height: 216px;
    width: 100%;
    left: 0;
    z-index: -2;
    transition: box-shadow 0.15s;
    position: absolute;
    bottom: 0;
    border-radius: calc(gridLine * 1.5);
}
.highlightBorder.selected {
    box-shadow: 0px 0px 5px 2px red;
}

.playerImage {
    flex: auto;
    position: absolute;
    width: calc(100% + 34px);
    margin-left: -17px;
    height: 100%;
    z-index: -2;
}

.playCharacterName {
    position: absolute;
    top: 0;
    left: calc(gridLine * -1.5);
}

.playerHp {
    align-self: flex-end;
}

.playerRole {
    position: absolute;
    top: 0;
    right: 0;
}

.disabled:not(.dead) {
    filter: brightness(0.5);
}

.playerSkills {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-left: 14px;
    margin-bottom: 4px;
}

.userSideEffectSkillList {
    position: absolute;
    top: calc(gridLine * 2);
    left: calc(gridLine * -10);
    display: flex;
    flex-direction: column;
    margin-bottom: gridLine;
}

.playerSkill {
    width: 50%;
    box-shadow: none;
    flex: auto;
}
.sideSkill {
    width: 100%;
}
.skillInfo {
    display: flex;
    flex-direction: column;
}
.skillItem {
    display: flex;
    margin-bottom: calc(gridLine * 2);
}
.skillName {
    flex: auto;
    margin-right: gridLine;
    min-width: calc(gridLine * 6);
    font-weight: 600;
    font-size: calc(gridLine * 2);
    color: #fbd000;
}

.status {
    align-self: center;
    flex: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -2;
}

.playerTags {
    position: absolute;
    top: calc(gridLine * 5);
    left: calc(gridLine * 3);
    font-size: 14px;
    font-weight: 600;
    color: white;
}

.skillTags,
.outsideArea {
    display: flex;
}

.skillTags {
    margin-bottom: 4px;
}

.skillTag {
    background-color: grey;
    margin: 0px 4px;
    font-size: 13px;
    font-weight: 500;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    padding: 0 4px;
}
.clickableSkillTag {
    cursor: pointer;
}

.chain {
    position: absolute;
    align-self: center;
    width: 100%;
}

.drunk {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: calc(100% - calc(gridLine * 2));
    background-color: #cc1b0d;
    opacity: 0.3;
    z-index: -1;
}

.incomingMessage {
    width: 100%;
    align-self: flex-start;
}

.marks {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: calc(gridLine * 2);
    height: 100%;
    width: calc(gridLine * 4);
}
