.playerCard {
    position: relative;
    height: 220px;
    width: 100%;
    border: 1px solid grey;
}

.playerCardInside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nationality {
    position: absolute;
    top: 4px;
    left: 4px;
}

.selected {
    border-color: red;
}
