.cardLine {
    margin: 16px 8px;
    display: flex;
    justify-content: flex-start;
}

.selectorCard {
    margin: 0px 8px;
}

.selectorCard.selected {
    filter: brightness(0.5);
}

.selecterCardsItem {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
