@value SanguoshaFont from '../../../../ui/metrics/metrics.css';
@value textLightGrey from '../../../../ui/metrics/metrics.css';
@value textGrey from '../../../../ui/metrics/metrics.css';
@value textWhite from '../../../../ui/metrics/metrics.css';
@value textLightBlack from '../../../../ui/metrics/metrics.css';

.selectorDialog {
    position: absolute;
    align-self: center;
    background: textLightGrey;
    border: 1px solid textGrey;
    background-color: textLightBlack;
    color: textWhite;
    padding: 16px;
    z-index: 999;
}

.selectorTitle {
    font-size: 18px;
    font-family: SanguoshaFont;
    margin-bottom: 16px;
    margin-top: 0;
}
