@value SanguoshaFont from '../../../../ui/metrics/metrics.css';

.selectorDialog {
    position: absolute;
    align-self: center;
    background: lightgrey;
    border: 1px solid grey;
    background-color: #1b1b1b;
    color: white;
    padding: 16px;
    z-index: 999;
}

.selectorTitle {
    font-size: 24px;
    font-family: SanguoshaFont;
    margin-bottom: 16px;
    margin-top: 0;
}
