@value gridLine from '../../../../ui/metrics/metrics.css';

.createRoomDialog {
    padding: calc(gridLine * 3);
    color: white;
    min-width: calc(gridLine * 75);
}

.background {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.layout {
    display: flex;
}

.verticalLayout {
    display: flex;
    flex-direction: column;
    margin: 0 gridLine;
    flex: auto;
}
.basicInfo {
    width: 40%;
}

.creatRoomForm {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.inputField {
    padding: gridLine 0;
    display: flex;
    flex-direction: column;
}

.inputLabelText {
    margin-bottom: gridLine;
    font-size: 14px;
    font-weight: 550;
}

.input {
    border: 0;
    border-bottom: 1px solid grey;
    height: calc(gridLine * 4);
    background: #404040;
    color: white;
    box-shadow: inset 2px 2px 2px 0px #171212;
    border-radius: 4px;
    outline: none;
}

.submitSection {
    margin-top: gridLine;
    display: flex;
    justify-content: center;
    align-self: flex-end;
}
