.equipCardItem {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 8px;
    position: absolute;
    top: 0;
    left: 0;
}

.equipSection {
    border: 1px solid grey;
    width: 200px;
    height: 100%;
    position: relative;
}

.handBoard {
    display: flex;
    flex-direction: column;
    flex: auto;
    position: relative;
}

.judges {
    position: absolute;
    justify-self: start;
    align-self: start;
    padding-left: 8px;
}

.judgeNames {
    padding: 0 4px;
}

.userActionsButtons {
    display: flex;
    padding: 0 12px;
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}
.userActionsButtons button {
    margin: 0 4px;
    background: white;
}

.handCards {
    justify-content: flex-start;
    border: 1px solid grey;
    height: 190px;
    display: flex;
    align-items: stretch;
}

.dashboard {
    display: flex;
    align-items: stretch;
    height: 220px;
}

.handCard {
    height: 100%;
    width: 140px;
}

.weapon {
    top: 0;
}
.armor {
    top: 25%;
}
.defenseRide {
    top: 50%;
}
.offenseRide {
    top: 75%;
}

.selected {
    border: 1px solid red;
}
