@value gridLine from '../../ui/metrics/metrics.css';

@value wuColor from '../../ui/metrics/metrics.css';
@value weiColor from '../../ui/metrics/metrics.css';
@value shuColor from '../../ui/metrics/metrics.css';
@value qunColor from '../../ui/metrics/metrics.css';
@value godColor from '../../ui/metrics/metrics.css';

.content{
    height: 100vh;
    width: 100vw;
}

.container{
    position: fixed;
    top: 10vh;
    right: 5vw;
    height: 72vh;
    background-color: #121212;
}

.borderSVG{
    position: absolute;
    width: calc(100% + 12px);
    height: calc(100% + 12px);
    left: -6px;
    top: -6px;
    z-index: -1;
}

.border{
    stroke: #996633;
    stroke-width: 12px;
}

.cor{
    position: absolute;
    width: 16px;
    height: 16px;
    z-index: 1;
    background: transparent;
}

.corLeftTop{
    top: -6px;
    left: -6px;
    border-radius: 0px 0px 20px 0px;
    border-bottom: 6px solid #996633;
    border-right: 6px solid #996633;
}

.corLeftBottom{
    top: -6px;
    right: -6px;
    border-radius: 0px 0px 0px 20px;
    border-bottom: 6px solid #996633;
    border-left: 6px solid #996633;
}

.corRightTop{
    left: -6px;
    bottom: -6px;
    border-radius: 0px 20px 0px 0px;
    border-top: 6px solid #996633;
    border-right: 6px solid #996633;
}

.corRightBottom{
    right: -6px;
    bottom: -6px;
    border-radius: 20px 0px 0px 0px;
    border-top: 6px solid #996633;
    border-left: 6px solid #996633;
}

.list{
    height: 60vh;
    display: grid;
    display: -moz-grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: calc(gridLine * 2) gridLine;
    padding: 0 calc(gridLine * 3) 0 calc(gridLine * 3);
    overflow-y: scroll;
}

/* 未兼容火狐、IE */
.list::-webkit-scrollbar {
    display: none;
}

.character{
    cursor: pointer;
    padding: 0 4px 4px;
}

.character:hover::before, .character:hover::after{
    position: absolute;
    content: "";
    top: gridLine;
    left: gridLine;
    bottom: 0;
    right: gridLine;
    border-radius: 4px;
    z-index: -1;
}

.character.wei:hover::before, .character.wei:hover::after{
    box-shadow:0 0 8px 8px weiColor;
}

.character.shu:hover::before, .character.shu:hover::after{
    box-shadow:0 0 8px 8px shuColor;
}

.character.wu:hover::before, .character.wu:hover::after{
    box-shadow:0 0 8px 8px wuColor;
}

.character.qun:hover::before, .character.qun:hover::after{
    box-shadow:0 0 8px 8px qunColor;
}

.character.god:hover::before, .character.god:hover::after{
    box-shadow:0 0 8px 8px godColor;
}

.tooltip {
    position: fixed;
    padding: calc(gridLine * 2);
    z-index: 99;
    max-width: calc(gridLine * 32);
    background: rgba(0, 0, 0, 0.7);
    color: #ddd;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.7);
    border-radius: 4px;
    font-size: 14px;
}

.skillInfo {
    display: flex;
    flex-direction: column;
}
.skillItem {
    display: flex;
    margin-bottom: calc(gridLine * 2);
}
.skillName {
    flex: auto;
    margin-right: gridLine;
    min-width: calc(gridLine * 6);
    font-weight: 600;
    font-size: calc(gridLine * 2);
    color: #fbd000;
}