@value gridLine from '../../../ui/metrics/metrics.css';

.container {
    min-width: calc(gridLine * 40);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: calc(100vh - calc(gridLine * 5));
}

.settingsLabel {
    width: 100%;
    border-top: 1px dashed grey;
    margin-bottom: calc(gridLine * 2);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
}

.inputLabel {
    width: 100%;
    margin-top: gridLine;
    margin-bottom: gridLine;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.horizontalInput {
    flex-direction: row;
    justify-content: space-between;
}

.observerCheckbox {
    margin-top: calc(gridLine * 2);
    margin-bottom: calc(gridLine * 2);
}

.inputTitle {
    min-width: calc(gridLine * 6);
}

.saveButton {
    align-self: center;
}

.searchResultsList {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow: auto;
}
