@value gridLine from '../metrics/metrics.css';
@value halfGridLine from '../metrics/metrics.css';

.equipCardItem {
    width: 100%;
    height: 55px;
    display: flex;
    align-items: center;
    padding: 0 gridLine;
    position: absolute;
    top: 0;
    left: 0;
}
.equipCardName {
    flex: auto;
}
.equipCardSuit,
.equipCardNumber {
    margin: 0 halfGridLine;
}

.equipSection {
    border: 1px solid grey;
    width: 200px;
    height: 100%;
    position: relative;
}

.handBoard {
    display: flex;
    flex-direction: column;
    flex: auto;
    position: relative;
}

.judges {
    position: absolute;
    justify-self: start;
    align-self: start;
    padding-left: gridLine;
    display: flex;
}

.judgeNames {
    margin-right: calc(halfGridLine * 3);
}

.userActionsButtons {
    display: flex;
    padding-right: calc(gridLine * 12);
    justify-content: flex-end;
    align-items: center;
    height: 30px;
}
.userActionsButtons button {
    margin: 0 halfGridLine;
    background: white;
}

.handCards {
    justify-content: flex-start;
    border: 1px solid grey;
    height: 190px;
    display: flex;
    align-items: center;
    padding: halfGridLine;
    flex: auto;
}

.handCard {
    position: absolute;
}

.dashboard {
    display: flex;
    align-items: stretch;
    height: 200px;
    min-width: 880px;
}

.weapon {
    top: 0;
}
.armor {
    top: 25%;
}
.defenseRide {
    top: 50%;
}
.offenseRide {
    top: 75%;
}
.precious {
    /* TBC */
}

.selected {
    border: 1px solid red;
}
