@value gridLine from '../../../../ui/metrics/metrics.css';
@value halfGridLine from '../../../../ui/metrics/metrics.css';

.equipCardItem {
    width: 100%;
    display: flex;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 25%;
    justify-content: flex-end;
    transition: left 0.15s;
}
.equipCardName {
    flex: auto;
}
.equipCardSuit,
.equipCardNumber {
    z-index: 2;
}

.equipCardNumber {
    margin-right: halfGridLine;
}

.handBoard {
    display: flex;
    flex-direction: column;
    flex: auto;
    position: relative;
}

.judges {
    position: absolute;
    justify-self: start;
    align-self: start;
    padding-left: gridLine;
    display: flex;
}

.judgeNames {
    margin-right: calc(halfGridLine * 3);
}

.userActionsButtons {
    display: flex;
    padding-right: calc(gridLine * 12);
    justify-content: flex-end;
    align-items: center;
    height: 64px;
}
.userActionsButtons button {
    margin: 0 halfGridLine;
    background: white;
}

.handCards {
    justify-content: flex-start;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.53) 41%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    align-items: center;
    padding: halfGridLine;
    flex: auto;
    padding-right: 64px;
}

.playBar {
    max-width: calc(gridLine * 30);
    width: 100%;
    position: absolute;
    align-self: center;
}

.handCard {
    position: absolute;
}

.dashboard {
    display: flex;
    align-items: stretch;
    min-width: 880px;
    justify-content: center;
    position: relative;
}

.playerPhaseStage {
    position: absolute;
    z-index: -1;
    padding: 0;
    opacity: 0.9;
    left: 220px;
    height: calc(gridLine * 3.5);
    top: 16px;
    display: flex;
    justify-content: flex-start;
}

.equipSection {
    width: 200px;
    height: 166px;
    position: relative;
    align-self: flex-end;
}
.equipSlots {
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.53) 41%, rgba(0, 0, 0, 1) 100%);
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
}

.equipCardImage {
    width: 100%;
    position: absolute;
}

.weapon {
    top: 0;
}
.armor {
    top: 25%;
}
.defenseRide {
    top: 50%;
}
.offenseRide {
    top: 75%;
}
.precious {
    /* TBC */
}

.selected {
    left: 16px;
}
