.playerCard {
    position: relative;
    height: 220px;
    width: 200px;
    display: flex;
    border: 1px solid grey;
}

.playerCardInside {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.nationality {
    position: absolute;
    top: 4px;
    left: 4px;
}

.waiting {
    align-self: center;
    justify-self: center;
}
.selected {
    border-color: red;
}
