@value gridLine from '../../../ui/metrics/metrics.css';
@value SanguoshaFont from '../../../ui/metrics/metrics.css';
@value godColor from '../../../ui/metrics/metrics.css';

.conainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: calc(gridLine * 2);
  position: relative;
  flex-wrap: wrap;
}

.seatComponent {
  display: flex;
  justify-content: center;
  width: 25%;
}

.seat {
  display: block;
  position: relative;
}
.seat.clickable {
  cursor: pointer;
}
.playerName {
  position: absolute;
  width: 100%;
  top: gridLine;
  text-align: center;
  z-index: 1;
  font-family: SanguoshaFont;
  color: godColor;

  text-shadow: 0px 0px 2px rgb(255, 255, 255), 0px 0px 2px rgb(255, 255, 255), 0px 0px 2px rgb(255, 255, 255);
  font-weight: 700;
  font-size: 14px;
  height: calc(gridLine * 3);
  line-height: calc(gridLine * 3);
  color: rgb(130, 54, 0);
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.seatClosed {
  filter: grayscale(1);
}

.seatImage {
  min-width: calc(gridLine * 15);
  height: calc(gridLine * 18.75);
  position: relative;
}
.userGetReady {
  position: absolute;
  bottom: gridLine;
  right: calc(gridLine * 2);
  z-index: 0;
  box-shadow: 1px 1px 4px 0px rgb(0 0 0);
  text-shadow: 1px 1px rgb(0 0 0 / 50%);
}

.startButton {
  position: absolute;
  bottom: calc(gridLine * 2);
  right: calc(gridLine * 2);
  z-index: 1;
}
