@value gridLine from '../../../../../ui/metrics/metrics.css';

.innerDialog {
    position: relative;
    display: flex;
    align-items: center;
}

.characterSelector {
    display: flex;
    flex-wrap: wrap;
    max-width: 695px;
    max-height: calc(gridLine * 50);
    overflow-x: hidden;
    overflow-y: auto;
}

.characterSelectorItem {
    margin: 2px;
    position: relative;
}

.tooltip {
    position: absolute;
    left: 100%;
    top: initial;
    margin-top: calc(gridLine * -2.5);
}

.skillInfo {
    display: flex;
    flex-direction: column;
}
.skillItem {
    display: flex;
    margin-bottom: calc(gridLine * 2);
}
.skillName {
    flex: auto;
    margin-right: gridLine;
    min-width: calc(gridLine * 6);
    font-weight: 600;
    font-size: calc(gridLine * 2);
    color: #fbd000;
}
