@value gridLine from '../../../../../ui/metrics/metrics.css';

.characterSelector {
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}

.characterSelectorItem {
    margin: 2px;
    position: relative;
}

.skillInfo {
    display: flex;
    flex-direction: column;
}
.skillItem {
    display: flex;
    margin-bottom: calc(gridLine * 2);
}
.skillName {
    flex: auto;
    margin-right: gridLine;
    min-width: calc(gridLine * 4);
}
